/*GENERAL RULES */
* {
	margin:0;
	padding:0px;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: Poppins, Roboto, "Roboto Condensed", "Open Sans", Futura, Lato, Arial, sans-serif;
  }

	html {
    position: relative;
    height: 100%;
		height: 100%;
}
/*===========================================================*/

body {
	background-image: url("../images/underconstruction02.jpg");
	min-height: 100%;
	width: 100%;
	/* bottom = footer height */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header {
}

.wrapper {
	width: 100%;
	height: 100%;
	padding: 0;
	box-sizing: border-box;

}

main {
	width: 100%;
}


.landing {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}

.landing a {
	display: block;
	width: 100%;
	text-align: center;
	color: #FFD262;
	position: relative;
	font-weight: bold;
}

.responsive {
	width: 100%;
}


/*===========================================================*/


/*NAVIGATION BAR RULES*/




/*===========================================================*/


/*NAVIGATION BAR RULES*/



/*===========================================================*/

/*FOOTER PROPERTIES*/

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 90%;
		margin: 0 5%;
    overflow: hidden;
		padding-bottom: 25px;
}

.footer {
	z-index: 5;
	color: #fff;
	text-align: center;
}

.foot {
	color: white;
	padding: 15px;
	font-size: 12pt;
	position: relative;
}

/*SOCIAL_LINKS*/

#social_links a{
	padding: 0 10px ;
}



/*===========================================================*/

/*STICKY PROPERTIES*/




/*===========================================================*/


@media only screen and (max-width: 800px) {

	.responsive {
		width: 100%;
	}

	body {
		background-image: url("../images/website_uc_phone-01.jpg");
	}

}
