
/*GENERAL RULES */
* {
	margin:0;
	padding:0px;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: "Poppins" Raleway, Roboto, "Roboto Condensed", "Open Sans", Futura, Lato, Arial, sans-serif;
  }

	html {
    position: relative;
    min-height: 100%;
}
/*===========================================================*/

body {
    margin: 0 0 215px;
	/* bottom = footer height */
	background: ;
}


.wrapper {
	width: 100%;
	height: 100%;
	display: block;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

main {
	width: 100%;
}




.landing a{
	width: 100%;
	text-align: center;
	top: 100px;
	color: #FFD262;

}

.responsive {
	width: 100%;
}


/*===========================================================*/


/*NAVIGATION BAR RULES*/


/*===========================================================*/

/*FOOTER PROPERTIES*/

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 90%;
		margin: 0 5%;
    overflow: hidden;
		padding-bottom: 25px;
}

.footer {
	z-index: 5;
	color: #fff;
	text-align: center;
}

.foot {
	color: rgb(28 30 32);
	padding: 15px;
	font-size: 12pt;
	position: relative;
}

/*SOCIAL_LINKS*/




/*===========================================================*/

/*STICKY PROPERTIES*/




/*===========================================================*/


@media only screen and (max-width: 800px) {
	.responsive {
		width: 100%;
	}

}
